<% if(session[:user].present?) %>
    <div class="mx-auto mt-3" style="width: 1280px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a class="text-decoration-none" href="/carts">Cart</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </nav>
    </div>
    <div>
        <h2 class="text-center pb-4">Shipping Information</h2>
    </div>
    <div class="row px-5">
        <div class="col">
            <%= form_with url: checkout_create_path, remote: true do |form| %>
            <div class="form-group mb-2">
                <%= form.label :first_name, class: "pb-1" %>
                <%= form.text_field :first_name, class: "form-control", value: session[:user]['first_name'] %>
            </div>
            <div class="form-group mb-2">
                <%= form.label :last_name, class: "pb-1" %>
                <%= form.text_field :last_name, class: "form-control", value: session[:user]['last_name'] %>
            </div>
            <div class="form-group mb-2">
                <%= form.label :email, class: "pb-1" %>
                <%= form.email_field :email, class: "form-control", value: session[:user]['email'] %>
            </div>
            <div class="form-group mb-2">
                <%= form.label :address, class: "pb-1" %>
                <%= form.text_field :address, class: "form-control", value: session[:user]['address'] %>
            </div>
            <div class="form-group mb-2">
                <%= form.label :province_id, class: "pb-1" %>
                <%= form.select :province_id, options_for_select(Province.pluck(:name, :id).map { |name, id| [name, id, { selected: (id == session[:user]['province_id'])}]}), {}, class: "form-control", required: true %>
            </div>
            <div class="text-center pt-3 pb-5">
                <%= button_tag 'Place order', class: "btn btn-warning" %>
            </div>
            <% end %>
        </div>
        <div class="col">
            <div class="border p-3 mb-5">
                <h5 class="bg-secondary py-1 ps-2">Order Summary</h5>
                    <% @products.each do |p| %>
                        <div class="d-flex pb-2">
                            <%= link_to image_tag(p.image, :class => "img-fixed-height bg-light border p-2"), p  %>
                            <div class="ps-3">
                                <span class="fw-bold"><%= p.name %></span>
                                <br>
                                <% product_id = p.id.to_s %>
                                Quantity: <%= session[:shopping_cart][product_id] %>
                                <br>
                                <% if !(p.sale_price < p.price) %>
                                    <small>$<%= number_with_precision(p.price / 10, precision: 2) %></small>
                                <% else %>
                                    <small class="bg-danger text-white">&nbsp;<%= ((p.price - p.sale_price) / p.price * 100).round %>% off&nbsp;</small>
                                    $<%= number_with_precision(p.sale_price / 10, precision: 2) %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <div class="ps-1 pt-1">
                    <span class="h6 pe-4">Subtotal</span><span class="ps-5">&nbsp;$<%= number_with_precision(@subtotal, precision: 2) %></span>
                    <br>
                    <span class="h6 pe-5">Taxes</span><span class="ps-5">&nbsp;$<%= number_with_precision(@taxes, precision: 2) %></span>
                    <br>
                    <span class="h5 pe-5">Total</span><span class="fw-bold ps-5">$<%= number_with_precision(@total, precision: 2) %></span>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <div class="text-center p-5">
        <h4>Please sign in, or create an account.</h4>
        <a href="/" class="text-decoration-none">Back to home</a>
    </div>
<% end %>