<p style="color: green"><%= notice %></p>

<%= render @page %>
<div class="mx-auto" style="width: 1000px;">
  <h1 class="d-flex justify-content-center"><%= @page.name %></h1>
  <p class="d-flex justify-content-center"><%= @page.content %></p>
  <% if(@page.name == 'Contact') %>
    <%= render partial: 'common/form' %>
  <% end %>
</div>