<div class="mx-auto mt-3" style="width: 1280px;">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item"><a class="text-decoration-none" href="/products">Home</a></li>
            <li class="breadcrumb-item active"><a class="text-decoration-none" href="/categories/<%= @category.id %>"><%= @category.name %></a></li>
            <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
        </ol>
    </nav>
    <div class="d-flex justify-content-center border rounded my-4 pt-4 pb-5 px-2">
        <div class="me-5">
            <%= image_tag @product.image, size: "300" %>
        </div>
        <div>
            <h4><%= @product.name%></h4>
            <h5>$<%= @product.price %></h5>
            <%= @product.description %>
        <div class="pt-3">
            <%# if cart.include?(@product) %>
                <%#= button_to cart_path(@product), class:"btn btn-primary", method: :delete do %>
                    <%# Remove from cart %>
                <%# end %>
            <%# else %>
            <%= form_with url: carts_path, method: :post do %>
                <%= hidden_field_tag(:id, @product.id) %>
                <div class="row d-flex align-items-center pb-3">
                    <div class="col-1">
                        Quantity:
                    </div>
                <div class="col-1" size="100">
                    <select name="quantity" class="form-select" aria-label="quantity" style="width: 58px;">
                        <option selected value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                </div>
                <%= button_tag 'Add to Cart', class: "btn btn-primary" %>
            <% end %>
            <div class="pt-2">
                <%= form_with url: checkout_create_path, remote: true do %>
                    <%= hidden_field_tag(:product_id, @product.id) %>
                    <%= button_tag 'Buy Now', class: "btn btn-warning" %>
                <% end %>
            </div>
            <%# end %>
        </div>
        <% if flash[:notice] %>
        <p class="text-danger pt-2 mb-0">
        <%= flash[:notice] %>
        </p>
        <% end %>
        </div>
    </div>
</div>