<div class="d-flex justify-content-center flex-wrap border border-top-0 border-bottom-0 pb-3">
    <% @new_products.each do |p| %>
    <div class="card" style="width: 15rem; margin: 10px;">
        <% if p.image.present? %>
            <%= link_to image_tag(p.image, :class => "card-img-top img-fixed-height bg-light"), p  %>
        <% end %>
        <div class="card-body">
            <%= link_to p.name, p, class: "h5 card-title text-decoration-none product" %>
            <h5 class="mt-2">
            <% if p.sale_price&.present? && p.price&.present? %>
                <% if !(p.sale_price < p.price) %>
                    <p>$<%= number_with_precision(p.price / 10, precision: 2) %></p>
                <% else %>
                    $<%= number_with_precision(p.sale_price / 10, precision: 2) %> <small class="bg-danger text-white">&nbsp;-<%= ((p.price - p.sale_price) / p.price * 100).round %>% off&nbsp;</small>
                <% end %>
            <% else %>
            <p>Out of Stock</p>
            <% end %>
            </h5>
            <p class="card-text">
            <% if p.description.to_s.length > 50 %>
                <%= p.description[0..50]... %></p>
            <% else %>
                <%= p.description %>
            <% end %>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
    <% end %>
</div>

<%= paginate @new_products %>